@{
    ViewData["Title"] = "About Page";
}

<h1 class="display-4 text-center border-bottom">About PingIP.org</h1>
<br />
<p>This website was developed by Mario Kozlovac.</p>

<p>Mario Kozlovac is a Software Developer based in Munich, Bavaria, Germany. He is currently working at LTB400 Aviation Software GmbH. Mario Kozlovac holds a Bachelor of Engineering (B.Eng.) in Electrical Engineering and Information Technology from Munich University of Applied Sciences, which he completed between 2011 and 2016.</p>



<div class="list-group" style="">
    <a href="https://discord.com/users/1125050962642468935" target="_blank" class="list-group-item list-group-item-action bi-play list-group-item-primary"> Discuss with Mario Kozlovac on Discord</a>
    <a href="https://www.reddit.com/user/manpinn/" target="_blank" class="list-group-item list-group-item-action bi-play list-group-item-primary"> Discuss with Mario Kozlovac on Reddit</a>
    <a href="https://www.linkedin.com/in/mario-kozlovac-46b33068" target="_blank" class="list-group-item list-group-item-action bi-play list-group-item-primary"> Visit Mario Kozlovac on LinkedIn</a>
    <a href="https://hm.edu/en/about_hm/profile/index.en.html" target="_blank" class="list-group-item list-group-item-action bi-play list-group-item-primary"> Visit Munich University of Applied Sciences</a>
    <a href="https://www.ltb400.com/" target="_blank" class="list-group-item list-group-item-action bi-play list-group-item-primary"> Visit LTB400 Aviation Software GmbH</a>
</div>
<br />
<h2 class="bi-tools"> Tools</h2>
<div class="list-group" style="">
    @Html.ActionLink(" Ping IP - Ping a specific IP-Address", "Index", "Home", null, new { @class = "list-group-item list-group-item-action bi-play list-group-item-primary" })
    @Html.ActionLink(" Port Check - Check if ports are open on a specific IP-Address", "Index", "PortCheck", null, new { @class = "list-group-item list-group-item-action bi-play list-group-item-primary" })
    @Html.ActionLink(" Trace Route - Trace Route on a specific IP-Address", "Index", "TraceRoute", null, new { @class = "list-group-item list-group-item-action bi-play list-group-item-primary" })
    @Html.ActionLink(" My IP - Get your current IP-Address", "Index", "MyIP", null, new { @class = "list-group-item list-group-item-action bi-play list-group-item-primary" })
</div>

<style>
    .ml-sidebar-content {
        height: 100vh;
    }
</style>