@{
    ViewData["Title"] = "About Page";
}

<h1 class="display-4 text-center border-bottom">About This Website</h1>
<br />
<p>This website was developed by Mario Kozlovac.</p>

<p>Mario Kozlovac is a Software Developer based in Munich, Bavaria, Germany. He is currently working at LTB400 Aviation Software GmbH. Mario Kozlovac holds a Bachelor of Engineering (B.Eng.) in Electrical Engineering and Information Technology from Munich University of Applied Sciences, which he completed between 2011 and 2016.</p>



<div class="list-group" style="">
    <a href="https://www.linkedin.com/in/mario-kozlovac-46b33068" target="_blank" class="list-group-item list-group-item-action bi-play"> Visit Mario Kozlovac on LinkedIn</a>
    <a href="https://hm.edu/en/about_hm/profile/index.en.html" target="_blank" class="list-group-item list-group-item-action bi-play"> Visit Munich University of Applied Sciences</a>
    <a href="https://www.ltb400.com/en/" target="_blank" class="list-group-item list-group-item-action bi-play"> Visit LTB400 Aviation Software GmbH</a>
</div>