html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* CMD-like window */
.cmd-window {
    width: auto;
    height: auto;
    background-color: #000000; /* Black background for CMD */
    color: white;
    font-family: 'Courier New', Courier, monospace; /* Monospaced font */
    border: 2px solid #0a58ca;
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    margin: 0px;
    overflow-y: auto;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

/* Text cursor styling */
.cmd-cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: white;
    animation: blink 1s step-start infinite;
    margin-left: 0px;
}

/* Blinking effect for cursor */
@keyframes blink {
    50% {
        background-color: transparent;
    }
}

/* CMD Header */
.cmd-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cmd-span {
    white-space: pre-wrap;
}

/* Title line in grey */
.cmd-title {
    color: #808080; /* Grey color */
    font-weight: bold;
}

/* Copy button with grey background */
.cmd-copy {
    background-color: #808080; /* Grey background */
    color: white;
    border: none;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border-radius: 4px;
}

    .cmd-copy:hover {
        background-color: #666666; /* Darker grey on hover */
    }